# Managed by Ansible
127.0.0.1 localhost
{% for entry in hosts_entries %}
{{ entry.ip }} {{ entry.names }}
{% endfor %}

# IPv6
::1 localhost ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
